In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/yellow_tripdata_2021-01.csv",low_memory=False)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [12]:
df.loc[:,df.columns[df.columns.str.endswith('ID')]] = df.loc[:,df.columns.str.endswith('ID')].fillna('Unknown')

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,Unknown,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,Unknown,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,Unknown,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,Unknown,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,Unknown,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,Unknown,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,Unknown,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,Unknown,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,Unknown,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,Unknown,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [3]:
## Change Describe Format
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
## Check Type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

In [ ]:
## Check Outliers & Valid Transactions
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,"1,271,413.00","1,271,413.00","1,369,765.00","1,271,413.00","1,369,765.00","1,369,765.00","1,271,413.00","1,369,765.00","1,369,765.00","1,369,765.00","1,369,765.00","1,369,765.00","1,369,765.00","1,369,765.00","1,369,765.00"
mean,1.68,1.41,4.63,1.04,165.25,161.50,1.28,12.10,0.97,0.49,1.92,0.25,0.30,17.47,2.12
std,0.47,1.06,393.90,0.60,67.84,72.11,0.49,12.91,1.23,0.08,2.60,1.67,0.04,14.69,0.93
min,1.00,0.00,0.00,1.00,1.00,1.00,1.00,-490.00,-5.50,-0.50,-100.00,-31.12,-0.30,-492.80,-2.50
25%,1.00,1.00,1.00,1.00,124.00,107.00,1.00,6.00,0.00,0.50,0.00,0.00,0.30,10.80,2.50
50%,2.00,1.00,1.70,1.00,162.00,162.00,1.00,8.50,0.00,0.50,1.86,0.00,0.30,13.80,2.50
75%,2.00,1.00,3.02,1.00,236.00,236.00,2.00,13.50,2.50,0.50,2.75,0.00,0.30,19.12,2.50
max,2.00,8.00,"263,163.28",99.00,265.00,265.00,4.00,"6,960.50",8.25,0.50,"1,140.44",811.75,0.30,"7,661.28",3.00

In [6]:
## Check Null Values
df.isna().sum()

VendorID                 98352
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          98352
trip_distance                0
RatecodeID               98352
store_and_fwd_flag       98352
PULocationID                 0
DOLocationID                 0
payment_type             98352
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [7]:
## Check Duplicates
df.duplicated().sum()

np.int64(0)

In [8]:
## Fill Null Values
df['VendorID'] = df['VendorID'].fillna('Unknown')
df['RatecodeID'] = df['RatecodeID'].fillna('Unknown')


df['passenger_count'] = df['passenger_count'].fillna(df['passenger_count'].median())


df['payment_type'] = df['payment_type'].fillna(df['payment_type'].mode()[0])
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].fillna(df['store_and_fwd_flag'].mode()[0])

df

# Notes:
# - Mode is good for categorical values
# - Mean is good for normally distributed numerical data (no outliers)
# - Median is good for numerical data with outliers

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.00,2021-01-01 00:30:10,2021-01-01 00:36:12,1.00,2.10,1.00,N,142,43,2.00,8.00,3.00,0.50,0.00,0.00,0.30,11.80,2.50
1,1.00,2021-01-01 00:51:20,2021-01-01 00:52:19,1.00,0.20,1.00,N,238,151,2.00,3.00,0.50,0.50,0.00,0.00,0.30,4.30,0.00
2,1.00,2021-01-01 00:43:30,2021-01-01 01:11:06,1.00,14.70,1.00,N,132,165,1.00,42.00,0.50,0.50,8.65,0.00,0.30,51.95,0.00
3,1.00,2021-01-01 00:15:48,2021-01-01 00:31:01,0.00,10.60,1.00,N,138,132,1.00,29.00,0.50,0.50,6.05,0.00,0.30,36.35,0.00
4,2.00,2021-01-01 00:31:49,2021-01-01 00:48:21,1.00,4.94,1.00,N,68,33,1.00,16.50,0.50,0.50,4.06,0.00,0.30,24.36,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,Unknown,2021-01-25 08:32:04,2021-01-25 08:49:32,1.00,8.80,Unknown,N,135,82,1.00,21.84,2.75,0.50,0.00,0.00,0.30,25.39,0.00
1369761,Unknown,2021-01-25 08:34:00,2021-01-25 09:04:00,1.00,5.86,Unknown,N,42,161,1.00,26.67,2.75,0.50,0.00,0.00,0.30,30.22,0.00
1369762,Unknown,2021-01-25 08:37:00,2021-01-25 08:53:00,1.00,4.45,Unknown,N,14,106,1.00,25.29,2.75,0.50,0.00,0.00,0.30,28.84,0.00
1369763,Unknown,2021-01-25 08:28:00,2021-01-25 08:50:00,1.00,10.04,Unknown,N,175,216,1.00,28.24,2.75,0.50,0.00,0.00,0.30,31.79,0.00
1369764,Unknown,2021-01-25 08:38:00,2021-01-25 08:50:00,1.00,4.93,Unknown,N,248,168,1.00,20.76,2.75,0.50,0.00,0.00,0.30,24.31,0.00

In [9]:
## Remove Outliers

def detect_outliers(df, threshold=3):
    mean_vals = df.mean()  
    std_vals = df.std()    
    
    z_scores = (df - mean_vals) / std_vals  
    return abs(z_scores) > threshold  

numeric_df = df.loc[:,['passenger_count','trip_distance','fare_amount','extra','mta_tax','tip_amount','total_amount','congestion_surcharge']]

outliers_mask = detect_outliers(numeric_df, threshold=3)

df_clean = df[~outliers_mask.any(axis=1)]

df_clean.describe()

,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,"1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00","1,265,517.00"
mean,1.21,2.52,165.93,161.90,1.25,11.03,1.01,0.50,1.78,0.15,0.30,16.21,2.16
std,0.59,2.66,68.00,71.78,0.45,7.84,1.23,0.00,1.61,1.00,0.00,8.56,0.85
min,0.00,0.00,1.00,1.00,1.00,-25.30,-1.35,0.50,0.00,0.00,0.00,-22.50,0.00
25%,1.00,1.00,116.00,107.00,1.00,6.00,0.00,0.50,0.00,0.00,0.30,10.80,2.50
50%,1.00,1.67,162.00,162.00,1.00,8.50,0.50,0.50,1.85,0.00,0.30,13.56,2.50
75%,1.00,2.90,236.00,236.00,1.00,13.00,2.50,0.50,2.70,0.00,0.30,18.48,2.50
max,4.00,92.23,265.00,265.00,4.00,50.83,4.09,0.50,9.70,27.50,0.30,61.55,3.00

In [ ]:
## # Filter Valid Transactions
df_clean = df_clean[(df_clean['fare_amount'] >= 0) & (df_clean['extra'] >= 0) & (df_clean['mta_tax'] >= 0) & (df_clean['tip_amount'] >= 0) & (df_clean['tolls_amount'] >= 0) & (df_clean['improvement_surcharge'] >= 0) & (df_clean['total_amount'] >= 0) & (df_clean['congestion_surcharge'] >= 0) ]
df_clean.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.00,2021-01-01 00:30:10,2021-01-01 00:36:12,1.00,2.10,1.00,N,142,43,2.00,8.00,3.00,0.50,0.00,0.00,0.30,11.80,2.50
1,1.00,2021-01-01 00:51:20,2021-01-01 00:52:19,1.00,0.20,1.00,N,238,151,2.00,3.00,0.50,0.50,0.00,0.00,0.30,4.30,0.00
2,1.00,2021-01-01 00:43:30,2021-01-01 01:11:06,1.00,14.70,1.00,N,132,165,1.00,42.00,0.50,0.50,8.65,0.00,0.30,51.95,0.00
3,1.00,2021-01-01 00:15:48,2021-01-01 00:31:01,0.00,10.60,1.00,N,138,132,1.00,29.00,0.50,0.50,6.05,0.00,0.30,36.35,0.00
4,2.00,2021-01-01 00:31:49,2021-01-01 00:48:21,1.00,4.94,1.00,N,68,33,1.00,16.50,0.50,0.50,4.06,0.00,0.30,24.36,2.50

In [14]:
df_clean.describe()

,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,"1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00","1,265,410.00"
mean,1.21,2.52,165.93,161.90,1.25,11.03,1.01,0.50,1.78,0.15,0.30,16.21,2.16
std,0.59,2.67,67.99,71.78,0.45,7.84,1.23,0.00,1.61,0.97,0.00,8.56,0.85
min,0.00,0.00,1.00,1.00,1.00,0.00,0.00,0.50,0.00,0.00,0.00,0.80,0.00
25%,1.00,1.00,116.00,107.00,1.00,6.00,0.00,0.50,0.00,0.00,0.30,10.80,2.50
50%,1.00,1.67,162.00,162.00,1.00,8.50,0.50,0.50,1.85,0.00,0.30,13.56,2.50
75%,1.00,2.90,236.00,236.00,1.00,13.00,2.50,0.50,2.70,0.00,0.30,18.48,2.50
max,4.00,92.23,265.00,265.00,4.00,50.83,4.09,0.50,9.70,27.50,0.30,61.55,3.00

In [16]:
df_clean.reset_index()

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1.00,2021-01-01 00:30:10,2021-01-01 00:36:12,1.00,2.10,1.00,N,142,43,2.00,8.00,3.00,0.50,0.00,0.00,0.30,11.80,2.50
1,1,1.00,2021-01-01 00:51:20,2021-01-01 00:52:19,1.00,0.20,1.00,N,238,151,2.00,3.00,0.50,0.50,0.00,0.00,0.30,4.30,0.00
2,2,1.00,2021-01-01 00:43:30,2021-01-01 01:11:06,1.00,14.70,1.00,N,132,165,1.00,42.00,0.50,0.50,8.65,0.00,0.30,51.95,0.00
3,3,1.00,2021-01-01 00:15:48,2021-01-01 00:31:01,0.00,10.60,1.00,N,138,132,1.00,29.00,0.50,0.50,6.05,0.00,0.30,36.35,0.00
4,4,2.00,2021-01-01 00:31:49,2021-01-01 00:48:21,1.00,4.94,1.00,N,68,33,1.00,16.50,0.50,0.50,4.06,0.00,0.30,24.36,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1265405,1369760,Unknown,2021-01-25 08:32:04,2021-01-25 08:49:32,1.00,8.80,Unknown,N,135,82,1.00,21.84,2.75,0.50,0.00,0.00,0.30,25.39,0.00
1265406,1369761,Unknown,2021-01-25 08:34:00,2021-01-25 09:04:00,1.00,5.86,Unknown,N,42,161,1.00,26.67,2.75,0.50,0.00,0.00,0.30,30.22,0.00
1265407,1369762,Unknown,2021-01-25 08:37:00,2021-01-25 08:53:00,1.00,4.45,Unknown,N,14,106,1.00,25.29,2.75,0.50,0.00,0.00,0.30,28.84,0.00
1265408,1369763,Unknown,2021-01-25 08:28:00,2021-01-25 08:50:00,1.00,10.04,Unknown,N,175,216,1.00,28.24,2.75,0.50,0.00,0.00,0.30,31.79,0.00
1265409,1369764,Unknown,2021-01-25 08:38:00,2021-01-25 08:50:00,1.00,4.93,Unknown,N,248,168,1.00,20.76,2.75,0.50,0.00,0.00,0.30,24.31,0.00